/* CSS Comments
    Name: Yixuan Chen 041109700
    File Name: index.css
    Date Created: 2024-11-21
    Description: This is a css style for index.html.
*/

/* Importing Google Fonts for custom typography */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Dancing+Script:wght@400;700&display=swap");

/* Main content area */
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form container */
.form-container {
  background-color: white;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 500px; 
  max-width: 90%;
}

.form-container h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

label {
  width: 120px;
  text-align: left;
  font-size: 20px;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid #4e4e4e;
  border-radius: 5px;
  font-size: 16px;
  font-family: inherit;
}

/* Button styles */
.button-row {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #8e806a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1; 
  margin: 0 5px;
}

button:hover {
  background-color: #b8a89d;
}

/* Responsive Design */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .form-container {
    width: 80%; 
    padding: 20px;
  }

  header h1 {
    font-size: 2rem;
  }

  label {
    width: 100px; 
  }
}


@media (max-width: 600px) {
  .form-container {
    width: 90%; 
    padding: 15px; 
  }

  form {
    gap: 10px; 
  }

  .form-row {
    flex-direction: column; 
    align-items: flex-start;
  }

  label {
    width: 100%; 
    margin-bottom: 5px; 
    text-align: left;
  }

  input {
    width: 100%;
  }

  .button-row {
    flex-direction: column; 
    gap: 10px;
  }

  button {
    width: 100%; 
    margin: 0;
  }
}

.error {
  color: red;
}
